{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
 #}
{% set media_classes = [
'image',
'clearfix',
] %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="image__image"{{ content.image|quickedit_attr }}>{{ content.image|field_value }}</div>
  {% spaceless %}
  <div class="image__info">
    <div class="image__caption"{{ content.field_image_caption|quickedit_attr }}>{{ content.field_image_caption|field_value }}</div>
    {% if content.field_copyright|field_value %}
      <div class="image__copyright">
        <span class="image__copyright-label"{{ content.field_copyright|quickedit_attr }}>{{ '&copy;'|trans }}</span>
        {{ content.field_copyright|field_value }}
      </div>
    {% endif %}
  </div>
  {% endspaceless %}
</article>
