.links{
	.paragraph__content{
		a{
			font-size: $font-size-h6;
			text-transform: initial;
			text-indent: -$grid-gutter-width/4;
			margin-left: $grid-gutter-width/2;
			@include icon-before('\f061');
			display: block;
			&:before{
				margin-right: 7px;
			}
		}
	}
}

.region-sidebar-second .links {
	.paragraph__content{
		padding-top: $grid-gutter-width/2;
	}
}