.address {
  font-size: $font-size-h6;
  &__headline {
    color: $deGOV-secondary;
    font-size: $font-size-h3;
    line-height: $font-size-h3;
    margin-bottom: $padding-base-vertical*2;
    margin-top: 0;
  }
  &__fax,
  &__phone {
    div {
      display: inline-block;
    }
  }
}