// For view mode media default
.audio--default {
  margin-top: 0;
  margin-left: -$vertical-gutter-width/2;
  margin-right: -$vertical-gutter-width/2;
  color: $color-white;
  background-color: $deGOV-secondary;
  padding-bottom: $vertical-gutter-width/2;

  img, audio {
    width: 100%;
  }

  .audio__audio {
    line-height: 1;
  }

  .audio__info {
    padding: $vertical-gutter-width/2;
  }

  .audio__extra-info {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
  .audio__duration {
    font-weight: bold;
    padding: $padding-large-vertical 0;
  }
  .audio__date {
    padding-top: $padding-base-vertical;
    padding-bottom: $vertical-gutter-width/2;
    font-size: $font-size-h4;
  }

  .audio__description {
    font-size: $font-size-h4;
    padding-bottom: $vertical-gutter-width/2;
  }

  .audio__downloads {
    float: right;
    .file {
      width: 100%;
      background: $color-white;
      padding: $padding-large-horizontal/2;
      margin-bottom: $padding-large-vertical;
      &,
      a {
        color: $deGOV-secondary;
      }
    }
  }

  .audio__transcription {
    color: $brand-secondary;
    clear: both;
    &__header {
      background: $deGOV-light;
      font-weight: bold;
      padding: $padding-large-vertical $grid-gutter-width/2;
      cursor: pointer;
      i {
        width: 2em;
        vertical-align: middle;
      }
      i:before {
        margin: auto;
        margin-right: $padding-small-horizontal;
        font-size: $font-size-h1;
      }
    }
    &__body {
      background: $color-white;
      padding: $grid-gutter-width/2 $grid-gutter-width;
      font-size: $font-size-base;
      line-height: 1.5;
      &.closed {
        display: none;
      }
    }
  }
  .audio__assets {
    padding: $vertical-gutter-width/2 0;
    font-size: $font-size-small;
  }
  .tags {
    padding: 0 0 $vertical-gutter-width 0;
    font-size: $font-size-small;
    &:before {
      position: initial;
      font-size: $font-size-h3;
      padding-right: $padding-xs-horizontal;
    }
  }
  .tags {
    //margin: 0 $vertical-gutter-width/2;
  }
  .media-image {
    margin: 0;
  }
}