/*.paragraph--type--faq-element {
	cursor: pointer;
	margin: $vertical-gutter-width/4 0;
	.field--label {
		display: none;
	}
	.field--name-field-faq-element-question {
		font-weight: bold;
		.field--item {
			@include icon-after($fa-var-caret-down);
			&::after {
				color: $color-blue;
			}
		}
		&.active .field--item {
			@include icon-after($fa-var-caret-up);
		}
	}
	.field--name-field-faq-element-answer {
		display: none;
		&.active {
			display: block;
		}
	}
}
.field--name-field-normal-page-header-pars{
	> .field--item{
		&:after{
			content: " ";
			display: inline-block;
			 width: 100%;
			height: 3px;
			border: 1px solid $deGOV-gray;
			position: relative;
			margin: 0px -1*($padding-small-vertical*4);
			width: 1280px;
			@media(max-width: 1300px){
				width: 980px;
			}
			@media(max-width: 992px){
				width: 760px;
			}
		}
		&:last-child{
			&:after{
				border: 0px solid $deGOV-gray;
			}
		}
	}
}
*/

.faq-list{
	&__header{
		padding:  $padding-small-vertical*2 0;
		margin-top: $padding-base-vertical/3;
		font-size: $font-size-h2;
		line-height: $font-size-h2*1.15;
		.field--name-field-sub-title{
			font-weight: bold;
		}
	}
}
.faq{
	position: relative;
	padding:  $padding-small-vertical*2 0;
	margin-top: $padding-base-vertical/3;
	&_question{
		cursor: pointer;
		font-size: $font-size-h3;
		color: $brand-secondary;
			@include icon-before($fa-var-angle-down);
			&:before{
				margin-right: $padding-base-horizontal*0.833;
			}
	}
	&_answer{
		display: none;
		padding-left: $padding-base-horizontal*3;;
	}
	&.is-openend{
		.faq_question{
			@include icon-before($fa-var-angle-up);
			&:before{
				  margin-right: $padding-base-horizontal*0.833;
			}
		}
	}
}