<div class="footer-wrapper">
    <footer class="footer {{ container }}" role="contentinfo">
        <div class="footer__upper">
            <h3>IM ÜBERBLICK
                <span>INHALT</span>
            </h3>
            <div class="printer">
                <a href="{{ url('<current>') }}/?print=1"><span>DRUCKEN</span><i class="fa fa-print" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer__menu">
        {# demo menu #}
            {{ page_footer_menu }}
        </div>
        <div class="footer__bottom-menu">
            <div class="footer__copyright col-md-6">
                © 2017 Staatskanzlei des Landes Nordrhein-Westfalen
            </div>
            <div class="footer__footer_menu col-md-6 right">
            {# demo menu #}
                <ul class="menu "><li class="first leaf"><a href="/sitemap" title="Inhalt anzeigen">Inhalt</a></li>
                    <li class="leaf"><a href="/impressum" title="Impressum anzeigen">Impressum</a></li>
                    <li class="leaf"><a href="/netiquette" title="Netiquette">Netiquette</a></li>
                    <li class="last leaf"><a href="/datenschutzhinweise" title="Datenschutz anzeigen">Datenschutz</a></li>
                </ul>        
            </div>
        </div>
    </footer>
</div>