{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.page_intro: Items for the page intro region.
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.page_outro: Items for the page outro region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Social media settings #}
{% if social_media_settings %}
    <div id="social-media-settings" class="social-media-settings modal fade" aria-labelledby="social-media-settings-modal-title" role="dialog" aria-describedby="social-media-settings-modal-description" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="modal-close pull-right modal-button btn btn-default" data-dismiss="modal">
                    <span>{{ 'Schließen'|trans }}</span>
                    <i aria-hidden="true" class="fa fa-times"></i>
                </button>
                <h2 tabindex="-1" id="social-media-settings-modal-title" class="modal-title">{{ 'Social Media Settings'|trans }}</h2>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <div id="social-media-settings-modal-description" class="social-media-settings__text">
                        <div>
                            {% trans %}
                            <p>Wenn Sie diese Felder durch einen Klick aktivieren, werden Informationen an
                                <a href="http://www.facebook.com" target="_blank">Facebook</a>,
                                <a href="https://twitter.com/" target="_blank">Twitter</a>,
                                <a href="https://www.youtube.com/" target="_blank">Youtube</a>,
                                <a href="https://plus.google.com/" target="_blank">Google</a>,
                                <a href="https://de.pinterest.com/" target="_blank">Pinterest</a>,
                                <a href="https://www.flickr.com/" target="_blank">Flickr</a> oder
                                <a href="https://vimeo.com/" target="_blank">Vimeo</a>
                                übertragen und unter Umständen auch dort gespeichert.</p>
                            <p>Bitte beachten Sie unsere Hinweise und Informationen zum
                                <a href="/datenschutzhinweise" target="_blank"> Datenschutz </a> und zur <a href="/netiquette" target="_blank">Netiquette</a>, bevor Sie einzelne Soziale Medien aktivieren.</p>
                            <p>Datenfeeds von sozialen Netzwerken dauerhaft aktivieren und Datenübertragung zustimmen:</p>
                            {% endtrans %}
                        </div>
                    </div>
                    <ul class="social-media-settings__settings-list">
                        <li><label><input class="js-social-media-source-all" type="checkbox" value="all">{{ 'Alle'|trans }}</label></li>
                        {% for key, name in social_media_sources %}
                            <li><label><input class="js-social-media-source" type="checkbox" value="{{ key }}">{{ name }}</label></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="social-media-settings__cancel modal-button btn btn-default" data-dismiss="modal">
                        <span>{{ 'Abbrechen'|trans }}</span>
                        <i aria-hidden="true" class="fa fa-times"></i>
                    </button>
                    <button type="button" class="js-social-media-settings-save modal-button social-media-settings__save btn btn-default" data-dismiss="modal">
                        <span>{{ 'Speichern'|trans }}</span>
                        <i aria-hidden="true" class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{# Navbar #}
<div class="header-wrapper">
    <header class="header {{ container }}">
        <div class="row">

            {# TODO: select the correct language for select the template #}
            {# TODO: create template for other templates #}

            {% include 'header-intro.html.twig' %}
            <div class="header__branding">
                {% if page.branding_region|render|striptags|trim %}
                    {% block branding_region %}
                        <div class="col-md-12 header__logo">
                            {{ page.branding_region }}
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
            {# please Vivek inlude your template here. like the next. #}
            <div class="header__menu">
                {{ page_header_menu }}
            </div>
            {# include 'header.html.twig' #}
        </div>
    </header>


</div>


{# Main #}
{% block main %}
    <div class="main-wrapper">
        <div role="main" class="main-container {{ container }} js-quickedit-main-content">
            <div class="row">

                {# Header Region #}
                {% if page.header_region|render|striptags|trim %}
                    {% block header_region %}
                        <div class="col-sm-12" role="complementary">
                            {{ page.header_region }}
                        </div>
                    {% endblock %}
                {% endif %}

                {# Sidebar First #}
                {% if page.sidebar_first|render|striptags|trim %}
                    {% block sidebar_first %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_first }}
                        </aside>
                    {% endblock %}
                {% endif %}

                {# Content #}
                {%
                set content_classes = [
                page.sidebar_first|render|striptags|trim and page.sidebar_second|render|striptags|trim ? 'col-sm-6',
                page.sidebar_first|render|striptags|trim and page.sidebar_second|render|striptags|trim is empty ? 'col-sm-9',
                page.sidebar_second|render|striptags|trim and page.sidebar_first|render|striptags|trim is empty ? 'col-sm-9',
                page.sidebar_first|render|striptags|trim is empty and page.sidebar_second|render|striptags|trim is empty ? 'col-sm-12'
                ]
                %}
                <section{{ content_attributes.addClass(content_classes) }}>


                    {# Content #}
                    {% block content %}
                        <a id="main-content"></a>
                        {{ page.content }}
                    {% endblock %}
                </section>

                {# Sidebar Second #}
                {% if page.sidebar_second|render|striptags|trim %}
                    {% block sidebar_second %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_second }}
                        </aside>
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}


<!-- Back to top -->
<div class="scroll-to-top"></div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
