// Language switer
/*
.block-language {
  cursor: pointer;
  position: relative;
  .simple-lang {
    display: inline-block;
  }
  ul {
    z-index: 999999999999999;
    position: absolute;
    right: $grid-gutter-width/4;
    display: none;
    background-color: $color-blue;
    padding-left: $grid-gutter-width/4; // Padding to match caret width
    &.open {
      display: block;
    }
    li {
      text-transform: uppercase;
      list-style: none;
      a {
        color: $color-white;
        padding-right: 25px; // Padding that matches caret
        line-height: 2.0em;
      }
    }
  }
}

.active-lang {
  text-transform: uppercase;
  background-color: $color-gray;
  padding: 0 $grid-gutter-width/4;
  margin-right: $grid-gutter-width/4;
  line-height: 2.0em;
  color: $color-white;
  @include icon-after($fa-var-caret-down);
  &.open {
    @include icon-after($fa-var-caret-up);
    background-color: $color-blue;
  }
  &:hover {
    background-color: $color-blue;
  }
} 

.block-language .fa-2x {
  font-size: 1.5em;
}

.header-wrapper .navbar {
	.simple-lang a {
		color: $color-gray;
		&:hover, &:focus, &:active {
			color: $color-blue;
			text-decoration: none;
		}
	}
	.simple-lang {
		@include smaller-than($screen-tablet) {
			display: none;
		}
	}
	
	.block-language ul li a {
		color: $color-white;
	}
}
*/