.sitemap {
  padding: $padding-base-vertical*4 0;
}

.sitemap-message {
  margin-bottom: $padding-base-vertical*4;
}

.sitemap-box-front {
  a {
    display: inline-block;
    margin-right: $grid-gutter-width/4;
  }
}

.sitemap-box-menu {
  column-count: 2;
  column-gap: $grid-gutter-width;

  li {
    font-size: $font-size-base;
    color: $brand-primary;
    list-style-type: none;
  }
  span {
    font-weight: bold;
    &:before {
      content: '';
    }
  }
  a {
    @include icon-before('\f061');
    &:before {
      font-size: $font-size-small;
      top: -2px;
      position: relative;
      margin-right: 0.5em;
    }
  }
}
