.block-views-blockblog-author-blog-author {
  margin: 0 -$padding-large-vertical*2;
  color: $brand-primary;
  background: $deGOV-light;
  .form-group{
    margin: 0;
  }
  p {
    padding: 20px;
  }
}