// comented because this is from the old DEGOV project

/*
.banner-wrapper {
  position: relative;
  min-height: $vertical-gutter-width * 4;
}
.banner-image img {
  margin: 0 auto;
}
.banner-title-wrapper {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  color: $color-white;
  text-shadow: 1px 3px 10px rgba(0,0,0,1);
  h1 {
    font-size: $font-size-banner-h1;
  }
}
*/