// search block
.block-search {
  width: $line-height-computed*1.5;
  height: $line-height-computed*1.5;
  position: relative;
}

.block-search form {
  position: absolute;
  z-index: 99999;
  right: 0;
}
.block-search .button {
  @include icon($fa-var-search);
  background-color: transparent;
  border-color: $color-gray;
  outline: none;
  &:before {
    color: $color-gray;
  }
}
.block-search form .input-group-btn:last-child > .button {
  border-top-left-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}
.block-search .form-search {
  float: right;
  width: 0;
  opacity: 0;
  transition: width 200ms ease-in-out, opacity 200ms ease-in-out;
  padding: 0;
}

// block search when expanded search
.expanded-search .block-search {
  overflow: visible;
  // padding plus borders …
  width: $line-height-computed * 10.5 + ($padding-base-horizontal * 2) + 3px;
}
.expanded-search .block-search .form-search {
  width: $line-height-computed * 10;
  padding: $padding-base-vertical $padding-base-horizontal;
  opacity: 1;
}
.expanded-search .block-search form .input-group-btn:last-child > .button {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

// panel in search advanced
.search-advanced .panel-body .panel-default {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: $vertical-gutter-width;
}
.search-advanced .panel-body .panel-default .panel {
  box-shadow: 0px 0px 0px transparent;
}
.search-advanced .panel-body .panel-default legend {
  display: none;
}
.search-advanced .panel-body .panel-default .panel-heading {
  border: 0;
  padding: 0;
  background: transparent;
  margin: 0;
}
.search-advanced .panel-body .panel-default .panel-body {
  border: 0;
  padding: 0;
  margin: 0;
}
.search-advanced .panel-body .panel-default .panel-title {
  margin: 0 0 0.25em 0;
  padding: 0;
  font-weight: bold;
}

.nrw-menu-header__search{
  &.is-close{
    display: none;
  }
  &.is-open{
    display: flex;
  }
  position: absolute;
  z-index: 11;
  width: 100%;
  max-width: 1280px;
  background-color: rgba($brand-primary, 0.7);
  min-height: 500px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__content{
    width: 62%;
    position: relative;
    > .fa{
      position: absolute;
      right: 40px;
      top: 48%;
      background: $degov-green;
      color: $color-white;
      font-size: $font-size-h2;
      padding: 9px;
      cursor: pointer;
    }
  }
  input{
    width: 100%;
    margin:0 auto;
    display: block;
    border-radius: 0;
    outline: white solid 10px !important;
    box-shadow: inset 0 2px 10px #b9b9b9;
    font-size: $font-size-h2;
    color: #3c506e;
    min-width: $grid-gutter-width;
    min-height: $grid-gutter-width;
    margin: 0 !important;
    vertical-align: middle;
    line-height: 1.1em !important;
    padding: 35px 75px 35px 20px;
  }
  .nrw-menu-header__search-close{
    text-align: right;
    /* align-items: flex-start; */
    /* align-self: flex-end; */
    margin: 0 auto $grid-gutter-width/2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-self: flex-end;
    font-size: $font-size-base - 4;
    justify-content: flex-end;
    a{
      color: $color-white;
    }
    i{
      color: $color-white;
      line-height: 1.6;
      margin-left: $padding-base-horizontal/3;
    }
  }
}

.view-search-content{
  .views-row{
    margin-bottom: $grid-gutter-width/2;
    padding: $grid-gutter-width/2 0;
    &:nth-child(odd){
      background-color: rgba($brand-primary, 0.2);
    }
    h3{
      font-weight: bold;
    }
  }
}
.path-suche,
.path-mediathek,
.path-medienverwaltung {
  aside{
    background-color: $brand-secondary;
    color: $color-white;
    padding-top: $grid-gutter-width/2;
    .block{
      margin-bottom: $grid-gutter-width/2;
      h2,.control-label{
        font-size: $font-size-small;
        margin-top: 0;
        font-weight: bold;
        margin-bottom: $grid-gutter-width/8;
      }
    }
    .form-item{
      max-width: 100%;
      input{
        width: 100%;
      }
    }
    .selectric{
      background-color: white;
    }
    .panel{
      background: transparent;
      border: 0;
      &-heading{
        display: none;
      }
      &-body{
        padding: 0;
        .form-item{
          position: relative;
        }
        .fa {
          position: absolute;
          color: $brand-primary;
          right: $grid-gutter-width/4;
          top: $grid-gutter-width/4;
        }
        .date-filter{
          float: right;
          border: 0;
          &:hover,
          &:focus{
            background: transparent;
          }
          span{
            float: right;
            margin-left: $grid-gutter-width/4;
            margin-top: $grid-gutter-width/10;
          }
        }
      }
    }

    .form-actions{
      float: right;
      .search-box__button{
        color: $color-white;
        background: transparent;
        border: 0;
        margin-top: $grid-gutter-width/2.66;
        .fa{
          background: $degov-green;
          font-size: $font-size-h6;
          margin-left: $grid-gutter-width/6;
          padding: $grid-gutter-width/8 $grid-gutter-width/6.66;
        }
      }
    }
  }
}

#block-degovsearchcontentfilter .block-degov-search-content-filter > .panel-heading {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  display: block;
}

.search-api-sorts{
  float: right;
  list-style: none;
  padding-top: $grid-gutter-width/8;
  li{
    display: inline-block;
    float: left;
    margin-left: $grid-gutter-width/4;
  }
}

.block-facet--degov-date-range-picker{
  display: inline-block;
  width: 100%;
}
