.media-reference {
  .paragraph__content  {
    padding: 0;
  }

  &.social-media-source {
    &-facebook,
    &-youtube,
    &-twitter,
    &-pinterest,
    &-flickr,
    &-vimeo {
      .fa-arrow-right:before {
        font-size: $font-size-base*2;
      }
    }
    &-facebook {
      .paragraph__header .fa-arrow-right {
        background: $facebook-blue;
        &:before {
          content: '\f09a';
        }
      }
    }
    &-youtube {
      .paragraph__header .fa-arrow-right {
        background: $youtube-red;
        &:before {
          content: '\f167';
        }
      }
    }
    &-twitter {
      .paragraph__header .fa-arrow-right {
        background: $degov-twitter-blue;
        &:before {
          content: '\f099';
        }
      }
    }
    &-googleplus {
      .paragraph__header .fa-arrow-right {
        background: $google-plus-red;
        &:before {
          content: '\f0d5';
          font-size: $font-size-base*1.5;
        }
      }
    }
    &-pinterest {
      .paragraph__header .fa-arrow-right {
        background: $pinterest-red;
        &:before {
          content: '\f231';
        }
      }
    }
    &-flickr {
      .paragraph__header .fa-arrow-right {
        background: $flickr-blue;
        &:before {
          content: '\f16e';
        }
      }
    }
    &-vimeo {
      .paragraph__header .fa-arrow-right {
        background: $vimeo-blue;
        &:before {
          content: '\f27d';
        }
      }
    }
  }
}
