.embedded-entity {
  display: inline-block;
  padding-bottom: $padding-large-vertical;
  &.align-left {
    display: block;
    padding-right: $padding-small-horizontal*2;
  }
  &.align-right {
    display: block;
    padding-left: $padding-small-horizontal*2;
  }
  &.align-center {
    display: block;
    img {
      margin: auto;
    }
  }
}
