/*// Format some fields to be displayed next to each other
.field--type-file {
	padding-bottom: 1em;
	.file {
		display: inline;
		> span {
			border: none;
		}
		.file-icon, .file-link, .file-size {
			display: inline;
		}
	}
	.file-icon {
		display: inline-block !important;
		width: 43px;
		height: 43px;
	}
	.file--mime-application-pdf {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -250px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
	.file--mime-application-xls {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -339px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
	.file--mime-application-doc {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -294px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
	.file--mime-application-ppt {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -204px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
}

// Format reference fields {
.field--name-field-home-page-contents {
	@include make-row();
	>.field--item {
		@include make-xs-column(12);
		@include make-sm-column(6);
		> article {
			h2 {
				font-size: $font-size-h3;
				margin-top: 0;
			}
		}
	}
	>.field--item:nth-child(2n+1) {
		clear: left;
	}
}


*/


.field--type-text-long{
	.embedded-entity{
		&.align-left{
			margin-right: $grid-gutter-width/2.6;
		}
		&.align-right{
			margin-left: $grid-gutter-width/2.6;
		}
	}
	ul{
		list-style: none;
		li{
			&:before{
				content: "";
				margin-right: $grid-gutter-width/4;
				background: $gray-base;
				background-size: 4px 4px;
				display: inline-block;
				border-radius: 50%;
				width: 5px;
				height: 5px;
				background-position: 11px 7px;
				line-height: $grid-gutter-width + 9;
				position: relative;
				bottom: 3px;
			}
		}
	}
	ol{
		list-style: none;
		li{
			counter-increment: counter;
			&:before{
				content: counter(counter);
				margin-right: $grid-gutter-width/4;
			}
		}
	}
}



.slim{
	.field--name-field-teaser-sub-title{
		font-size: $font-size-h2;
		font-weight: normal;
	}
}

.field--name-field-topic, div[class*='content-type']{
	color: $deGOV-primary;
	font-size: $font-size-small;
	font-weight: bold;
	text-transform: uppercase;
}