// Styles for nodes
.small-image{
  .teaser-content{
    a{
      font-weight: normal;
    }
  }
}
article.long-text {
  border-bottom: 1px solid #dde6f0;
  .teaser-content{
    padding: $grid-gutter-width/2;
  }
  .teaser-image{
    padding: 0;
    .image__caption {
      display: none;
    }
  }
  &:nth-child(odd){
    .teaser-image{
      float: right;
      &:after{
        @include triangle-right($color-white);
        top: 15px;
        @media(max-width: $screen-sm-max){
          top: auto;
          bottom: -9px;
          transform: rotate(270deg);
          left: 16px;
        }
      }
    }
  }
  &:nth-child(even){
    .teaser-image{
      &:after{
        @include triangle-left($color-white);
        top: 15px;
        right: 0px;
        @media(max-width: $screen-sm-max){
          top: auto;
          bottom: -9px;
          transform: rotate(90deg);
          left: 16px;
        }
      }
    }
  }
}

article.preview,
article.slim {
  padding: 0;
  .teaser-image{
    padding: 0;
    .image__caption {
      display: none;
    }
  }
  .teaser-content{
    max-height: 320px;
    padding: 20px;
    overflow: hidden;
  }
  &:nth-child(4n-2),&:nth-child(4n-3){
    .teaser-image{
      &:after{
        @include triangle-left($color-white);
        top: 15px;
        right: 0;
        @media(max-width: $screen-sm-max){
          top: auto;
          bottom: -9px;
          transform: rotate(90deg);
          left: 16px;
        }
      }
    }
  }
  &:nth-child(4n-1),&:nth-child(4n){
    .teaser-image{
      float: right;
      &:after{
        @include triangle-right($color-white);
        top: 15px;
        @media(max-width: $screen-sm-max){
          top: auto;
          bottom: -9px;
          transform: rotate(270deg);
          left: 16px;
        }
      }
    }
  }
}

article.slim{
  .teaser-image{
    .image__caption {
      display: none;
    }
  }
  .teaser-content{
    padding: $grid-gutter-width/2;
  }
}

article.small-image{
  border-bottom: 1px solid #dde6f0;
  .teaser-image{
    padding: $grid-gutter-width/2;
    .image__caption {
      display: none;
    }
  }
  .teaser-content{
    padding: $grid-gutter-width/2;
  }

}
article.slim{
  &:nth-child(3), &:nth-child(4){
    text-align: right;
  }
}
article.preview,
article.long-text,
article.small-image,
article.slim{
  .teaser-title h3 {
    font-size: $font-size-h2;
    font-weight: normal;
    span{
      font-weight: bold;
    }
  }
  .blog__teaser-text {
    font-size: $font-size-h6;
  }
}

.path-frontpage{
  .full{
    .header{
      display: none;
    }
  }
}

.full{
  &.event{
    .header{
      margin-top: -1*($grid-gutter-width/5.71);
    }
  }
  .header{
    position: relative;
    margin: 0 -1*($grid-gutter-width/2) $grid-gutter-width/2.66;
    background: $brand-primary;
    padding: 0 $grid-gutter-width/2 $grid-gutter-width/2;
    .media-video{
      margin: 0 -1*($grid-gutter-width/2);
    }
    .header-image__image{
    }
    .sharing{
      padding-top: $grid-gutter-width/6;
    }
    &:after{
      @include triangle-down;
      bottom: -15px;
      left: $grid-gutter-width/2;
    }
  }
}