$tag-font-size: 12px;

.tags {
  position: relative;
  padding-left: $padding-xs-horizontal*5;

  &:before {
    content: '\f02c';
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    color: $color-white;
  }

  .field--item {
    display: inline-block;
    margin-right: $padding-xs-horizontal;
  }

  .field--item, a {
    font-size: $tag-font-size;
    color: $color-white;
    font-weight: normal;
  }
}

// For media view mode preview
.media--preview {

  .tags {
    font-size: $font-size-small;
    padding: 0 $padding-xs-horizontal $padding-xs-horizontal $padding-xs-horizontal*4;

    &:before {
      color: $brand-primary;
      margin-left: $padding-xs-horizontal;
    }

    a {
      display: inline-block;
      color: $brand-primary;
      padding-right: $padding-xs-horizontal;
    }
  }
}

.field--name-field-tags .field--item {
  background: $brand-primary;
  display: inline-block;
  color: $color-white;
  margin-right: 0;
  font-size: $font-size-small;
  padding: $grid-gutter-width/10;
  a{
    color: $color-white;
    text-decoration: none;
  }
  &:after{
    content: ',';
  }
  &:nth-last-child(1){
    &:after{
      content: '';
    }
  }
}
.media .tags > a {
  padding-right: $padding-xs-horizontal;
  &:after{
    content: ',';
  }
  &:last-child{
    &:after{
      content: '';
    }
  }
}