.teaser-listing {

  .row > article {
    border-bottom: 1px solid $gray-light;
  }

  .views-row {
    padding-bottom: 0;
  }

  .paragraph__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .teaser-image {
    padding: 0;
  }

  .small-image article {
    padding: $grid-gutter-width/2 0 $grid-gutter-width/2 $grid-gutter-width/2;
  }

  .teaser-content {
    padding: $grid-gutter-width/2;
  }

  .teaser-title h3 {
    margin-top: 0;
    font-weight: bold;
  }

  .row:nth-child(odd),
  .row:nth-child(even) .small-image {
    .teaser-image {
      float: left;
    }
    .arrow:after {
      @include triangle-left($color-white);
      top: $vertical-gutter-width/2;
      right: 0;
    }
  }

  .row:nth-child(even) {
    .teaser-image {
      float: right;
    }
    .arrow:after {
      @include triangle-right($color-white);
      top: $vertical-gutter-width/2;
      left: 0;
    }
  }
}